.footer-div {
  background-color: rgb(16, 20, 45);
  padding-bottom: 30px;
  color: #ccd9ee;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 40px;
}
.footer-icon {
  font-size: 25px;
  color: #ffffff;
  width: 25px;
  margin: 2px;
}

h6 {
  font-size: 13px;
  font-weight: 600;
}

h6:hover {
  cursor: pointer;
}
h5 {
  font-weight: normal;
  font-size: 15px;
}
